<footer>
  <div class="bg-footerGray">
    <ul class="flex justify-center p-3 gap-10 text-sm font-semibold">
      <li>Privacy Policy</li>
      <li>About</li>
      <li>Sign In</li>
      <li>Sign Up</li>
    </ul>
  </div>
  <div class="text-center text-white p-4 bg-mainColor">
    <p>Survey Rails App @ 2026 | All rights reserved.</p>
  </div>
</footer>